@charset "utf-8";

$baseColor:#d7842a;
$whiteColor1:#ddd;
$grayColor:#8c8c8c;
$grayColor2: #444444;
$navHeight:55px;
*{
  img{
    max-width: 100%;
  }


}

a:link,a:hover,a:visited{
  color: white;
}


.x-navbar{
  background-color: transparent;
  border: none;
  position: absolute;
  width: 100%;
  z-index: 999;
}



.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:visited,.navbar-default .navbar-nav>li>a:link {
  color: white;
}

.navbar-nav>li>a{
  transition: all 0.5s;
}

.navbar-nav>li>a:after{

  content: "";
  width:0;
  height:2px;
  background-color: $baseColor;
  position:absolute;
  left:50%;
  bottom: 0;
  transition: all 0.5s ;

}


.navbar-nav>li>a:hover:after{
  left: 0;
  width: 100%;

}

.navActive{
  color: $baseColor!important;
}

.test1{
  background-color: #ff513c;
}
.test2{
  background-color: #569949;
}
.test3{
  background-color: #f9ff68;
}
body,html{
  min-height: 100%;
}
body{

  overflow-x: hidden;
}




//禁止滚动
//.noscroll,.noscroll body {
//  overflow: hidden;
//}
//.noscroll body {
//  position: relative;
//}
.logo{
  padding: 5px 0;

  img{
    width: auto;
    height: 100%;
  }
}


.x-panel{
  color: white;
  overflow: hidden!important;
  background-position: center center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
}



#footer{
  background-color: $grayColor2;
  height: 80px;
  overflow: hidden;
  position: relative;
  p{
    width: 100%;
    color: #a8a8a8;
    text-align:center;
    font-size:10px;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    a:link,a:visited{
      color: #a8a8a8!important;
    }

  }
}

//加载效果
#loaderWrap{
  $grayColor: #cacaca;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  overflow: hidden;
  p{
    text-align: center;
    color: $grayColor;
    font-size: 12px;
  }

  #loader{
    margin:0 auto;
    margin-top: 150px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    animation:loader 5s infinite;
    background-image: url("../image/yuanquan.png");
    background-size: 100% 100%;

  }

}


@keyframes loader
{
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}



//修改移动端显示效果

@media (max-width: 768px){

  .navbar-collapse{
    background-color: #494949 !important;
    width: 150px;
    position: absolute;
    right: 20px;
    text-align: center;
    border: none;
  }

  #indexWrap{
    #panel1{
      .col-md-4{
        margin-top: 50px;
      }
    }


    #panel2{

      .right{

        padding-top: 0!important;
        padding-bottom: 20px!important;

      }


    }





  }

  #providerWrap{

    #panel3{

      .m_css{
        margin-bottom: 60px!important;
      }

    }



    #panel4{
      .saoerweima{
        font-size: 20px;
        margin-top: 20px!important;
      }

      .toDowm{
        margin-bottom: 20px!important;
      }
    }

  }


  #cooperateWrap{
    #cooperateBanner{
      h1{
        margin-top: 100px!important;
      }
    }
#panel1{
  .hand{
    margin-top: 145px!important;


  }
  .p2{
    margin-bottom: 260px!important;
  }
}
    #panel2{
      .p1{
        margin-top: 145px!important;

      }
      .p2{
        margin-bottom: 260px!important;
      }
    }

    #panel3{
      .p1{
        margin-top: 145px!important;

      }
      .p2{
        margin-bottom: 260px!important;
      }
    }

    #panel4{
      .p1{
        margin-top: 145px!important;

      }
      .p2{
        margin-bottom: 260px!important;
      }
    }

  }

  #aboutWrap{
    .erweima{
      width: 100px!important;
      height: 100px!important;
    }

  }


  #appWrap{

    .title{

      margin-bottom: 20px;
    h1{
      font-size: 35px!important;
      text-align: left!important;
    }

    }

    .headerImg img{
     margin-top: 200px!important;
    }


    .sm{
      margin-top: 50px;
    }


  }



}
